p {
	font-family: Verdana;
	font-size: 12px;
  }
  .dom{
	margin:0px;  
	height:50px;
	  width:50px;
	  float: left;
	  position:absolute;
  }
  .dom:hover{
	height:55px;
	width:55px;
	float: left;
	transition: 1s;
	margin:0px;  
}
